body {
    margin: 0;
    font-family: Consolas, monospace;
    background: #0f172a;
    color: #e5e7eb;
}

.dark {
    background: #020617;
}

.app {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #020617;
    padding: 15px;
    border-right: 2px solid #1e293b;
}

.sidebar h2 {
    text-align: center;
    color: #38bdf8;
}

.sidebar input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
}

.sidebar button {
    width: 100%;
    margin-bottom: 6px;
    padding: 8px;
    background: #1e293b;
    color: #e5e7eb;
    border: none;
    cursor: pointer;
}

.sidebar button:hover {
    background: #334155;
}

.algorithms button {
    background: #0ea5e9;
    color: black;
}

/* MAIN */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* STATUS BAR */
.status-bar {
    background: #020617;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #1e293b;
}

/* STAGE */
.stage {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

.stage-area {
    margin-top: 10px;
}

/* CONSOLE */
.console {
    height: 200px;
    background: #020617;
    border-top: 2px solid #1e293b;
    padding: 10px;
    overflow-y: auto;
}

/* STEPS */
.step-row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.step-num {
    width: 70px;
    color: #94a3b8;
}

.box {
    width: 38px;
    height: 38px;
    margin: 4px;
    border-radius: 6px;
    background: #1e293b;
    border: 2px solid #475569;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* COLORS */
.compare { background: #facc15; color: black; }
.swap { background: #ef4444; }
.left-sub { background: #38bdf8; color: black; }
.right-sub { background: #4ade80; color: black; }
.merge-pos { background: #c084fc; color: black; }

/* FLOATING LEGEND */
.legend-float {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #020617;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #334155;
}

.legend-float div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-float .l {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    border-radius: 4px;
}
